<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewpont" content="width-device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{url_for('static', filename='magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='tooplate-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">

    <title>Title</title>
</head>
<body>
<div>
    <h1>1조: 쓰레기 분류 프로젝트</h1>
</div>
{% block content %}
{% endblock %}
</body>
</html>