{% extends 'base.html' %}
{% block content %}
<section>
    <article>
        <h3 id="Thick paper">
            <a href="https://me.go.kr/home/web/board/read.do?menuId=10392&boardMasterId=713&boardId=853220"
               style="text-decoration:none">
                종이류
            </a>
        </h3>
        &nbsp;<br>
        <details>
            <summary>신문지</summary>
            <p>
                ① 종류 : 일간지, 주간지, 생활정보지 등<br>
                ② 분리배출요령 : 신문지 종류로만 따라 모아 한 번 접어 30㎝정도의 높이로 묶어 보관·배출한다.<br>
                (비닐코팅이 되지 않은 전단지는 섞여도 무관하다.)<br>
                ③ 주의사항<br>
                ≡ 비나 물에 젖지 않도록 한다.<br>
                ≡ 비닐 코팅이 된 광고전단지가 석이지 않도록 한다.<br>
                (전단지를 찢어 보았을 때 비닐이 뜯어져 나오는 종이가 비닐 코팅지)<br>
            </p>
        </details>
        <details>
            <summary>잡지·서적류</summary>
            <p>
                ① 종류 : 헌책, 헌 공책, 월간지, 주간지 등<br>
                ② 분리배출요령 : 30㎝정도로 묶어서 보관·배출한다.<br>
                ③ 주의사항<br>
                ≡ 비닐코팅이 된 잡지류는 표지의 제외한다.<br>
                ≡ 노트의 스프링이나 철판, 테이프 등 종이 이외의 물질은 분리하여 배출한다.<br>
            </p>
        </details>
        <details>
            <summary>종이팩</summary>
            <p>
                ① 종류 : 우유팩, 음료수 팩, 1회용 종이컵<br>
                ② 분리배출요령 : 내용물을 비우고 물로 한번 헹군 후 납작하게 눌러 봉투에 넣거나 한데 묶어서<br>
                보관·배출한다.(그대로 말린 후 납작하게 눌러 묶어서 보관한다)<br>
                ③ 주의사항<br>
                ≡ 다른 종이류와 섞이지 않도록 별도의 분리 수거함을 마련토록 한다.<br>
                ≡ 우유팩이나 음료수팩 중 장기 보존용인 테트라팩은 재생이 안되므로 제외한다.<br>
            </p>
        </details>
    </article>
    <article>
        <h3 id="can">
            <a href="https://me.go.kr/home/web/board/read.do?menuId=10392&boardMasterId=713&boardId=853220"
               style="text-decoration:none">
                병류
            </a>
        </h3>
        1) 종류 : 맥주·소주·음료수병, 드링크병, 약병, 기타 내용물을 담은 유리병, 농약병 및 각종 유리용기류.<br>
        2) 분리배출요령 : 플라스틱이나 알루미늄으로 된 뚜껑은 가급적 병목에 부착되어 있는 알루미늄 테까지<br>
        제거한 후 배출한다.<br>
        ≡ 병 속에 담배꽁초나 종이류 등 기타 이물질을 깨끗이 제거한 후 배출한다.<br>
        ≡ 맥주, 소주, 청량 음료병은 공병보증금제도의 실시로 슈퍼나 상점에서 보증금(40원∼50원)을 받고 교환한다.<br>
        3) 주의사항<br>
        ≡ 유리병중 유백색의 유리병은 재활용되지 않는다.<br>
        ≡ 거울, 깨진 유리, 도자기류, 내열식기류, 형광등, 전구 등도 재활용되지 않는다.<br>
        ≡ 농약 빈 병은 내용물을 완전히 사용한 후 다른 병류와 섞이지 않게 따로 마대에 모아 배출한다.<br>
        (한국자원재생공사에서 ㎏ 당 150원의 보증금을 주고 수거)<br>
    </article>
    <article>
        <h3 id="else">
            <a href="https://me.go.kr/home/web/board/read.do?menuId=10392&boardMasterId=713&boardId=853220"
               style="text-decoration:none">
                고철
            </a>
        </h3>
        &nbsp;1) 종류 : 공기구, 철사, 못, 철판 등 쇠붙이(소철), 양은, 스텐류, 구리, 알루미늄 샤시 등 (비철금속)<br>
        2) 분리배출요령 : 식기류나 공구류에 붙어 있는 고무, 플라스틱 등 이물질을 제거한 후 가급적 부피를 줄여<br>
        묶거나 재활용 봉투에 넣어 배출한다.<br>
        3)주의사항 : 페인트, 오일통 등 유해물질 포장통과 폐유 용기는 재활용이 곤란하므로 제외한다.<br>
    </article>
    <article>
        <h3 id="plastic">
            <a href="https://me.go.kr/home/web/board/read.do?menuId=10392&boardMasterId=713&boardId=853220"
               style="text-decoration:none">
                플라스틱
            </a>
        </h3>
        &nbsp;1) 종류<br>
        ≡ PET병류 : 음료수병(주스, 콜라, 생수병 등), 간장병, 식용유병 등.<br>
        ≡ 합성수지 용기류 : 각종 음식료 용기류, 야쿠르트병, 샴푸·세제용기류, 막걸리통, 물통, 우유통<br>
        ≡ 일반 가정생활용품류 : 쓰레기통, 쓰레받이, 물바가지, 머리빗, 바구니 등<br>
        ≡ 기타 용기류 : 맥주, 콜라, 사이다 등, 주류·음료수 상자<br>
        2) 분리배출요령<br>
        ≡ 뚜껑을 제거한 후, 내용물을 비우고 물로 한번 헹구어 배출한다.<br>
        ≡ 가능한 압착하여 부피를 축소한다.<br>
        ≡ 알루미늄 뚜껑은 고철로 분리 배출한다.<br>
        ≡ 용기표면에 재질분류 표시 1,2,3,4,5,6번으로 표시된 플라스틱 제품에 한하여 배출한다.<br>
        3) 주의사항<br>
        ≡ 재활용이 어려운 다음의 플라스틱 제품은 제외한다.<br>
        ≡ 열에 잘 녹지 않는 플라스틱용기 : 전화기, 소켓, 다리미, 냄비의 손잡이, 전기전열기, 단추, 화장품 용기,<br>
        식기류, 재떨이, 쟁반 등<br>
        ≡ PVC류 용기 : 파이프, 빗물홈통, 장판, 전선 등<br>
        ≡ 복합재질 용기 : 과자, 라면봉지, 식품포장 용기 등<br>
        ≡ 기타 재활용 경제성이 없는 용기 : 가전제품 케이스, 함지박, 정화조, 비닐봉지, 볼펜 등 필기구, 1회용품 등<br>
        ≡ 플라스틱과 철사가 합성되어 있는 제품류(옷걸이 등)<br>
        ≡ 용기표면 재질분류표시 3,7번으로 표시된 플라스틱 제품<br>
    </article>
    <article>
        <h3 id="battery">
            <a href="https://me.go.kr/home/web/board/read.do?menuId=10392&boardMasterId=713&boardId=853220"
               style="text-decoration:none">
                건전지
            </a>
        </h3>
        &nbsp;건전지는 망간, 수은, 카드뮴 등의 중금속을 포함한 유해 폐기물로 환경오염을 유발하며, <br>
        심하게 훼손된 경우에는 전지액이라는 액체가 나와 피부에 닿으면 이상 증세를 일으킬 수 있다. <br>
        따라서 절대 일반 쓰레기로 버리거나 장난감이나 전자기기 속에 건전지를 넣은 채로 버리면 안 되며, <br>
        폐건전지 수거함에 따로 버려야 한다. <br>

        아파트의 경우에는 동마다 배치된 폐건전지 수거함에 버리면 되고, <br>
        주택에 거주하는 경우에는 모아뒀다가 주민센터에 방문해서 폐건전지 수거함에 버리면 된다.<br>
    </article>
</section>
{% endblock %}