{% extends 'base.html' %}
{% block content %}
<div>
    <h3>쓰레기 사진을 올려주세요</h3>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
      <div>
        <label>이미지를 업로드해주세요 (파일형식: PNG, JPG)</label>
        {{ form.csrf_token }}

        {{ form.photo.label }}

        {{ form.photo(class='form-control', value="") }}
      </div>
      <div>
        <button type="submit">제출하기</button>
      </div>
    </form>
</div>
<div>
    <a href="{{ url_for('main.region') }}">우리 지역 쓰레기 배출일정 알아보기</a>
</div>
{% endblock %}